.c-toggle {
  $size: 22px;
  $padding: 8px;
  $mult: 2.5;

  $width: $size * $mult;

  $color-on: $color-green-02;
  $color-off: $color-gray-03;

  display: block;
  text-align: left;

  .c-toggle-container {
    overflow: hidden;
  }

  .c-toggle-control {
    display: block;
    float: left;
  }

  .c-toggle-slide {
    // [(___O)]
    width: $width + 2;
    height: $size + 2;
    padding: 1px;

    display: block;

    overflow: hidden;
    background: $color-off;
    border-radius: (($width + 2) / 2);

    transition: background $transition;

    .c-toggle-state {
      // [(___O)___]
      width: ($width - ($size / 2)) * 2;
      display: block;

      overflow: hidden;
      position: relative;

      transition: transform $transition;
      transform: translateX(-($width - $size));

      em {
        // ([___]O)
        width: $width - ($size / 2);
        height: $size;
        padding-left: ($size / 2) + 3px;

        display: block;
        float: left;

        color: $color-gray-09;

        font-style: normal;
        font-size: 10px;
        line-height: $size;
        text-transform: uppercase;
      }

      em.is-positive {
        padding-right: ($size / 2) + 5px;
        padding-left: 0;
        text-align: right;
      }

      i {
        // (___[O])
        @include block-round($size);

        position: absolute;
        top: 0;
        left: ($size * $mult) - $size;

        background: $color-gray-09;
      }
    }
  }

  input[type='checkbox'] {
    @include block-invisible;

    &:checked + .c-toggle-slide {
      background: $color-on;

      .c-toggle-state {
        transform: translateX(0);
      }
    }
  }

  &.is-error .c-toggle-container .c-toggle-control .c-toggle-slide {
    transition: none;
    background: $color-orange-01;
  }

  .c-toggle-label {
    margin-left: $width + 2 + $padding;
    display: block;
    line-height: $size + 2;
  }

  &.has-label .ui-error {
    margin-left: $width + 2 + $padding;
  }

  &.is-disabled .c-toggle-control {
    opacity: .5;
  }
}
