.c-select
  display: block

  .ui-label
    margin-bottom: 5px
    display: block

    &:empty
      display: none

.c-select-container
  position: relative

  .ui-input
    padding-right: 45px

.c-select-icon
  margin: 11px 17px
  absolute: top right

  color: $colorBase
  pointer-events: none
