.c-tag_cloud
  &.is-locked .c-tag_cloud-item
    cursor: default
    opacity: .7

  &.is-radio .c-tag_cloud-item.is-active
    cursor: default

.c-tag_cloud-item
  margin: 0 5px 5px 0

.c-tag_cloud-label
  margin-bottom: 5px
  display: inline-block
