$scrollableControlWidth = 8px

.c-scrollable
  overflow: hidden
  position: relative

.c-scrollable-container
  height: 100%
  margin-right: -30px
  padding-right: -(@margin-right)

  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch

.c-scrollable-control
  width: $scrollableControlWidth
  height: 100%
  absolute: top right
  background: alpha($colorDarkAlpha, .15)
  border-radius: (@width / 2)

  opacity: 0
  transition: opacity $transition

  i
    width: $scrollableControlWidth
    height: 20px
    absolute: top right
    background: alpha($colorDarkAlpha, .4)
    border-radius: (@width / 2)

  &.is-active
    opacity: 1
