$listControlsHeight = 58px

.c-list_controls
  height: $listControlsHeight
  display: block
  clearfix()
  position: relative

  &.has-dropdown
    border-radius: $borderRadiusM $borderRadiusM 0 0

  .c-dropdown
    position: static

  .c-dropdown-label i
    margin-left: 0

  .c-dropdown-body
    width: 100%
    top: 100%
    right: auto
    left: 0

    border-radius: 0 0 $borderRadiusM $borderRadiusM

.c-list_controls-option.is-active
  font-weight: $fontWeightL
  color: $colorDark

.c-list_controls-item
  float: left
  border-right: $borderSnow

  &:last-child
    border-right: none

  &:first-child .c-list_controls-icon.is-active
    border-radius: $borderRadiusM 0 0 $borderRadiusM

.c-list_controls-reset
  height: $listControlsHeight
  margin-right: 15px
  float: right
  line-height: @height

  small
    display: inline-block

  i
    iconSize(10px)
    margin-top: -1px
    margin-left: 5px
    vertical-align: middle

.c-list_controls-icon
  width: $listControlsHeight
  height: @width
  display: block
  text-align: center
  cursor: pointer
  line-height: @width

  i
    iconSize(18px)
    line-height: inherit
    color: $colorBase

    &.icon-list_sorting
      iconSize(22px)
      line-height: inherit

  &.is-active
    background: $colorSnow40

.c-list_controls-search_form
  width: 100%
  height: $listControlsHeight
  display: none
  overflow: hidden
  absolute: left top
  z-index: 1

  background: $colorSnow00
  border-radius: $borderRadiusM

  .c-list_controls-icon
    float: left

  .c-input
    margin-right: 10px
    margin-left: 58px

    padding: 9px 0
    display: block

.c-list_controls-search.is-active .c-list_controls-search_form
  display: block
