.c-loading-bar
  width: 100%
  height: 2px

  fixed: top left
  z-index: 10

  i
    blockFill()
    transform: translateX(-100%)
    background: $colorAction

  &.is-active i
    transition: transform $transition
    transform: translateX(-30%)

  &.is-complete i
    transform: translateX(0)

.c-loading-spinner
  $size = 20px
  $minScale = .2
  $maxScale = 1
  $duration = 1s

  width: ($size * 3)
  display: inline-block

  @keyframes pulseLoaderSize
    0% { transform: scale($minScale) }
    50% { transform: scale($maxScale) }
    100% { transform: scale($minScale) }

  &:before,
  &:after
    content: ''

  &:before,
  &:after,
  i
    blockRound($size)
    background: $colorDark50
    animation: $duration $easing infinite pulseLoaderSize

  i
    animation-delay: ($duration / 2)
    transform: scale($minScale)
