.c-checkbox
  $size = 22px
  $padding = 8px

  display: block

  .c-checkbox-container
    overflow: hidden

  .c-checkbox-control
    width: $size
    height: @width

    display: block
    float: left
    position: relative

    background: $colorSnow40

    border: $borderDark
    border-radius: $borderRadiusS

  &.is-error .c-checkbox-control
    border-color: $colorSignal

  &.is-disabled
    .c-checkbox-control
      border-style: dashed
    .c-checkbox-state
      color: $colorDark50

  .c-checkbox-state
    blockCenter()
    display: none
    color: $colorDark

  // @stylint off
  input[type='checkbox']
  // @stylint on
    blockInvisible()

    &:checked + .c-checkbox-state
      display: block

  .ui-label-primary
    margin-left: $size + $padding
    display: block
    line-height: $size

  &.has-label .ui-error
    margin-left: $size + $padding
