.c-image_marker-container
  blockRound(35px)
  blockCenter()
  z-index: 1

  backgroundFill()
  border: $borderSnow
  border-width: 2px
  box-shadow: $shadowS

.c-image_marker-caption
  padding: 5px
  absolute: top 10px left 50%
  transform: translateX(-50%)
  white-space: nowrap
