
.c-picker-cell.is-selected {
  font-weight: bold;
}

.c-picker-cell.is-disabled {
  color: #cfcfcf;
}

.c-picker-cell.is-interactive {
  background: #f8f8f6;
  cursor: pointer;
}

.c-picker-cell.is-interactive:hover {
  background: #c0c0c0;
  color: #fff;
}

.c-picker-cell {
  &.is-interactive:hover {
    border-radius: 3px;
  }

  &.is-selected {
    border-radius: 3px;
    font-weight: 400;
    background: #b2ca06;
    color: #fff;
  }
}

.c-picker-controls-previous,
.c-picker-controls-next {
  cursor: pointer;
}

.c-picker-date {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 5px;
}

.c-picker {
  width: 300px;

  position: absolute;
  left: auto;
  top: auto;
  background: #fff;

  padding: 10px;
  margin-top: 5px;

  font-family: $font-family;
  border: $border-dark;
  border-radius: $border-radius-m;
  color: $color-gray-02;
}

.c-picker-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;

  color: #999;
}

.c-picker-controls {
  display: flex;
  justify-content: space-between;
}

.c-picker-controls-label {
  padding: 5px 3px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.c-picker-label {
  text-align: center;
}
