@import "calendar_theme";

.c-datepicker {
  position: relative;
}

.c-datepicker-container {
  position: relative;

  > .ui-input {
    padding-right: 45px;
  }
}

.c-datepicker-clear {
  padding: 20px 17px;
  position: absolute;
  top: 0;
  right: 0;

  color: $color-base-01;

  cursor: pointer;
}
