.c-datepicker
  .pika-single
    margin-top: 5px
    position: absolute !important // hack for weird JS set styles
    z-index: 2
    font-family: $fontFamily
    border: $borderDark
    border-radius: $borderRadiusM
    color: $colorDark70
    pointer-events: auto

  .pika-lendar
    width: 300px
    margin: 10px

  .pika-button
    padding: 10px 5px
    text-align: center
    background: $colorSnow40

  .pika-table abbr
    text-decoration: none
    cursor: auto

  .is-today .pika-button
    color: $colorDark70
    font-weight: $fontWeightM

    &:hover
      color: $colorSnow00

  .is-selected .pika-button
    color: $colorSnow00

  .is-selected .pika-button
    box-shadow: none
    font-weight: $fontWeightM
    background: $colorAction

  .pika-button:hover
    background: $colorBase
    font-weight: $fontWeightM
