.preview-inputs
  .preview-section > ul
    margin-top: 30px

    > li
      margin-top: 15px
      display: block

  .preview-radios
    li
      margin-top: 30px
      overflow: hidden

  .preview-checkboxes
    li
      margin-top: 30px
      overflow: hidden

  .preview-checkboxblock
    margin-top: 10px

    @media $mediaM
      width: 220px
      margin-top: 0
      float: left
