.c-dropdown
  display: inline-block
  position: relative

  &.is-active .c-dropdown-body
    display: block

  &.is-right .c-dropdown-body
    right: auto
    left: 0

  &.is-top .c-dropdown-body
    top: auto
    bottom: 0

.c-dropdown-label
  cursor: pointer

  i
    margin-left: $offsetSpace

  &.ui-button
    min-width: 0
    padding: 0 14px // customized to match

    &.ui-button-small
      padding: 0 8px

.c-dropdown-body
  width: 250px
  display: none
  absolute: right top
  overflow: hidden
  z-index: 2
  background: $colorSnow40
  box-shadow: $shadowL

  .ui-options li
    border: none

.c-dropdown-option
  display: block

.c-dropdown-close
  padding: 4px 8px
  text-align: right
  font-weight: $fontWeightL

  i
    iconSize(9px)
    margin-top: -2px
    margin-left: 5px
    vertical-align: middle

.c-dropdown-content
  padding: 10px

  &:empty
    display: none
