@use "sass:math";

$form-group-spacing: 15px;

.c-form_group-item {
  margin-top: $form-group-spacing;
}

.c-form_group.is-multiple {
  @media ($media-m) {
    margin-top: $form-group-spacing;
    display: flex;
    gap: 10px;

    .c-form_group-item {
      margin-top: 0;
    }
  }
}

.c-form_group {
  @media ($media-m) {
    @for $size from 2 through 4 {
      &.is-size-#{$size} .c-form_group-item {
        flex-basis: math.div(100%, $size);
      }
    }
  }
}
