$form-group-spacing: 15px;

.c-form_group-item {
  margin-top: $form-group-spacing;
}

.c-form_group.is-multiple {
  @media ($media-m) {
    @include legacy-clearfix;
    margin-top: $form-group-spacing;

    .c-form_group-item {
      margin-top: 0;
      padding-left: 10px;
      float: left;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}

.c-form_group {
  @media ($media-m) {
    @for $size from 2 through 4 {
      &.is-size-#{$size} .c-form_group-item {
        width: (100% / $size);
      }
    }
  }
}
