.c-label_marker-container
  padding: 0 5px
  blockCenter()

  font-size: $fontSizeS
  text-transform: uppercase
  color: $colorSnow00

  background: $colorAction
  box-shadow: $shadowS
  border: 1px solid $colorSnow00
  border-radius: $borderRadiusS
