.c-expandable_card
  display: block

  .c-expandable-content
    margin-top: 15px
    padding-top: 15px
    border-top: $borderDark

.c-expandable_card-control
  overflow: hidden

.c-expandable_card-state
  float: right

.c-expandable_card-icon
  blockRound(32px)
  margin-right: 5px

  background: $colorAction
  font-size: 20px
  line-height: @height
  text-align: center
  text-indent: .5px

  color: $colorSnow00
