.c-radio
  $size = 22px
  $padding = 8px

  .c-radio-item
    margin-top: 8px
    display: block

    &.is-disabled
      opacity: .5

    .c-radio-item-label
      margin-left: $size + $padding
      display: block
      line-height: $size

  .c-radio-item-container
    overflow: hidden

  .c-radio-item-control
    blockRound($size)

    display: block
    float: left

    position: relative

    background: $colorSnow40
    border: $borderDark

  .c-radio-item-state
    blockRound(10px)
    blockCenter()
    background: $colorDark
    display: none

  // @stylint off
  input[type='radio']
  // @stylint on
    blockInvisible()

    &:checked + .c-radio-item-state
      display: block

  &.is-error .c-radio-item-control
    border-color: $colorSignal

  &.is-type-small .ui-label-primary
    font-size: $fontSizeS

  .ui-error
    margin-top: 8px
    margin-left: $size + $padding
