@require 'nebenan-ui-kit/styles'
@require '../style.css'

@require './components/*'
@require './containers/*'


html
  background: $colorSnow

main
  margin: 10px
  @media $mediaM
    margin: 30px 100px

.preview-section
  margin-top: 30px

.preview-fancy_image
  background: hotpink

[class^='icon-']:before,
[class*=' icon-']:before
  width: 1em
  height: 1em
  content: ''
  display: inline-block
  background: red
