@import 'nebenan-ui-kit/styles';
@import '../src/**/*.scss';
@import './components/**/*.scss';
@import './containers/**/*.scss';

html {
  background: $color-gray-07;
}

main {
  margin: 10px;

  @media ($media-m) {
    margin: 30px 100px;
  }
}

.preview-section {
  margin-top: 30px;
}

.preview-fancy_image {
  background: hotpink; /* stylelint-disable-line color-named */
}

[class^='icon-']::before,
[class*=' icon-']::before {
  width: 1em;
  height: 1em;
  content: '';
  display: inline-block;
  background: red; /* stylelint-disable-line color-named */
}
