.c-expandable-control
  cursor: pointer

  .icon-arrow_up
    display: none

.c-expandable.is-active .c-expandable-control
  .icon-arrow_up
    display: inline-block

  .icon-arrow_down
    display: none
