.c-flat_tab_bar
  &.c-tab_bar
    padding: 0
    border: none
    border-bottom: $borderSnow
    box-shadow: none

  .c-tab_bar-list
    clearfix()
    display: block

  .c-tab_bar-item
    margin-left: 0
    padding: 20px 0
    float: left
    position: relative

    cursor: pointer
    text-align: center
    color: $colorDark
    background: $colorSnow00
    border-left: none
    text-transform: none
    font-weight: $fontWeightM

    &.is-active
      position: relative
      background: $colorHighlight45
      color: $colorDark

      i
        color: $colorDark70

      &:after,
      &:before
        margin: 0
        content: ''
        position: absolute
        top: 100%
        left: 50%
        transform: translateX(-50%)

      &:before
        border: 13px solid transparent
        border-top-color: rgba(0, 0, 0, .05)

      &:after
        border: 12px solid transparent
        border-top-color: @background

    &:first-child
      border-top-left-radius: $borderRadiusM
    &:last-child
      border-top-right-radius: $borderRadiusM

  for $i in (1..8)
    &.is-size-{$i} .c-tab_bar-item
      width: (100% / $i)
