.c-circle_marker-container
  blockCenter()

  padding: 15px

  width: 160px
  height: @width

  text-align: center
  color: $colorSnow00

  border-radius: 50%
  border: 3px dotted $colorDark70
  background: alpha($colorAction, .8)

  @media $mediaM
    width: 220px
    height: @width

.c-circle_marker-text
  blockCenter()

  font-size: 20px
  line-height: 25px

  @media $mediaM
    font-size: 25px
    line-height: 30px
