.c-file_picker
  display: inline-block
  overflow: hidden // fixes Firefox glitch with invisible inputs breaking layout
  position: relative

.c-file_picker-input // standard label click fails on iOS
  blockFill()
  opacity: 0

  cursor: pointer
  z-index: 1
