// .is-active to increase priority
.c-popover.is-active
  $arrowSize = 5px

  .c-dropdown-body
    margin-bottom: $arrowSize
    overflow: visible
    bottom: 100%

    .ui-options
      overflow: hidden
      border-radius: $borderRadiusM

  .c-dropdown-close
    display: none

  .ui-options > li
    padding: 3px 7px
    font-size: $fontSizeS
