.c-fading_slideshow
  height: 400px
  position: relative

  .c-dots
    width: 100%
    margin: 0
    position: absolute
    bottom: 15px

    li
      transition: background 800ms ease

.c-fading_slideshow-item
  blockFill()
  opacity: 0
  transition: opacity 1s ease

  &.is-active
    opacity: 1
    transition-duration: 800ms
