.c-breadcrumbs
  display: block
  background: $colorBase

  ul
    color: $colorSnow00

  a
    color: inherit
    text-decoration: underline

.c-breadcrumbs-content
  clearfix()
  blockSize($layoutWidth, $layoutSpacing, 10px)

  .c-dropdown
    float: right

    @media $mediaM
      display: none

  .c-dropdown-label .ui-link
    color: $colorSnow00

.c-breadcrumbs-item
  display: none

  &:last-child
    display: inline-block

  @media $mediaM
    display: inline-block

.c-breadcrumbs-item-separator
  margin: 0 10px
  display: none

  @media $mediaM
    display: inline
