.c-eyecatcher_marker-container
  padding: 9px 20px
  display: inline-block
  position: absolute
  bottom: 0
  left: 0

  color: $colorSnow00
  text-align: center
  white-space: nowrap
  font-size: 10px
  line-height: 12px

  border: 2px solid $colorSnow00
  border-radius: 100px 100px 100px 0
  box-shadow: $shadowM
  background: $colorAction

  h3
    color: inherit
    font-size: 12px
    line-height: 17px

  @media $mediaM
    font-size: 12px

    h3
      font-size: 17px
      line-height: 23px
