.c-password
  .ui-input
    padding-right: 40px

  .c-input-container
    position: relative

.c-password-icon
  margin: 10px 14px

  absolute: top right
  iconSize(20px)

  cursor: pointer
  pointer-events: auto
