.c-tab_bar
  background: $colorSnow40
  border-radius: $borderRadiusM $borderRadiusM 0 0
  clearfix()
  box-shadow: inset 0 -3px 3px -3px alpha($colorDark, .2)

  & + .ui-card-section
    border-top: none

.c-tab_bar-list
  display: inline-block

.c-tab_bar-item
  padding: 15px 5px

  display: inline-block
  position: relative

  font-size: 10px
  font-weight: $fontWeightL
  text-transform: uppercase
  color: $colorDark70

  cursor: pointer

  @media $mediaM
    padding: 15px
    font-size: $fontSizeM

  &:first-child
    border-radius: $borderRadiusM 0 0 0

  &.is-active
    position: relative
    color: $colorSnow00
    background: $colorAction

    &:after
      margin-top: 11px
      margin-left: -7px

      content: ''
      position: absolute
      bottom: 0
      left: 50%
      border: 7px solid transparent
      border-bottom-color: $colorSnow00
      z-index: 1

.c-tab_bar-content
  padding: 15px
  display: inline-block

.c-tab_bar-action
  padding: 15px
  float: right

  i
    iconSize(12px)
    color: $colorDark70
